<% content_for :head do %>
    <%= javascript_include_tag 'tiny_mce/tiny_mce' %>
<% end %>
<% content_for :jstemplates do -%>
	<%= "var object='#{ generate_template(f, :photos) }'" %>
<% end %>
<h4 class="toggler">General Properties</h4>
<fieldset class="fieldset_toggle">
	<div class="fieldset_left">
		<div class="field_element">
			<label for="album_title">Title&nbsp;:&nbsp;</label>
			<%= f.text_field :title, :class => "textfield small" %>
		</div>
	</div>
	<div class="fieldset_right">
		<div class="field_element">
			<label for="album_description">Description&nbsp;:&nbsp;</label>
			<%= f.text_area :description, :class => "tinymce" %>
		</div>
	</div>
</fieldset>
<div class="clear">&nbsp;</div>
<h4 class="toggler">Upload Photos</h4>
<fieldset class="fieldset_toggle" id="gallery_form">
	<%= render :partial => 'photos_form', :locals => {:f => f} %>
</fieldset>
<div class="clear">&nbsp;</div>
<br />
<div class="hr">
	&nbsp;
</div>
<div class="submit">
	<%= submit_tag 'save', :id => 'create' %><%= link_to 'cancel', admin_albums_url %>
</div>