<h4>General</h4>
<fieldset class="fieldset_toggle">
	<div class="fieldset_left">
		<div class="field_element">
			<label for="event_category">Category&nbsp;:&nbsp;</label>
			<%= f.collection_select(:event_category_id, @categories, :id, :title, {:prompt => "Choose One"}, :class => "small formElement") %>
		</div>
		<div class="field_element">
			<label for="event_title">Starts&nbsp;:&nbsp;</label>
			<%= f.text_field :start, :class => "event_date" %>
		</div>
		<div class="field_element">
			<label for="event_title">Ends&nbsp;:&nbsp;</label>
			<%= f.text_field :end, :class => "event_date" %>
		</div>
	</div>
	<div class="fieldset_right">
		<div class="field_element">
			<label for="event_title">Title&nbsp;:&nbsp;</label>
			<%= f.text_field :title, :class => "textfield" %>
		</div>
		<div class="field_element">
			<label for="event_location">Location&nbsp;:&nbsp;</label>
			<%= f.text_field :location, :class => "textfield" %>
		</div>
	</div>
</fieldset>
<br />
<h4><label for="event_description">Description</label></h4>
<fieldset class="fieldset_toggle">
	<div class="field_element">
		<%= f.text_area :description, :class => "tinymce" %>
	</div>
</fieldset>
<div class="hr">
	&nbsp;
</div>
<div class="submit">
  <%= submit_tag 'save', :id => 'create' %><%= link_to 'cancel', admin_events_url %>
</div>