<% content_for :head do %>
	<%= javascript_include_tag 'tiny_mce/tiny_mce', 'tiny-mce-config' %>
	<%= stylesheet_link_tag 'ui-core', 'ui-theme', 'ui-datepicker', :cache => 'ui' %>
<% end %>
<% content_for :header do %>
	<%= render :partial => 'admin/shared/main_menu' %>
	<div id="sub_nav">
		<ul>
			<li>
				<%= link_to 'View All Events', admin_events_path %>
			</li>
			<li>
				<%= link_to 'Create Event', new_admin_event_path %>
			</li>
		</ul>
	</div>
	<div id="search_menu">
		<%= render :partial => 'admin/shared/search/events/non_ajax' %>
	</div>
<% end %>
<div id="sidebar">
	<%= render :partial => "sidebar" %>
</div>
<div id="content">
	<h3><span class="cat_type">Event</span> <%= sanitize @event.title %></h3>
	<div id="actions_menu">
		<ul class="actions">
			<li class="actions_left">
				&nbsp;
			<li>
			<li>
				<%= link_to "Edit", edit_admin_event_path(@event), :title => "Edit this event." %>
			</li>
			<li>
				<%= link_to "Delete", admin_event_path(@event), :title => "Delete this event.", :confirm => 'Are you sure?', :method => :delete %>
			</li>
			<li class="actions_right">
				&nbsp;
			<li>
		</ul>
		<ul class="actions">
			<li class="actions_left">
				&nbsp;
			<li>
			<li class="timeline_event">
				Last updated by <%= link_to sanitize(h(@event.user.name)), admin_user_path(@event.user) %> at <%= @event.updated_at %>
			</li>
			<li class="actions_right">
				&nbsp;
			<li>
		</ul>
	</div>
	<%= render :partial => "event" %>
</div>