<tr>
	<td>
		<%= activity_object.subject.class.to_s.split(/(?=[A-Z])/).join('&nbsp;') %>
	</td>
	<td>
		<a href="/admin/<%= activity_object.subject_type.downcase.pluralize %>/<%= activity_object.subject.to_param %>"><%= activity_object.subject.title %></a>
	</td>
	<td>
		<a href="/admin/users/<%= activity_object.actor.to_param %>"><%= activity_object.actor.name %></a>
	</td>
	<td>
		<%= activity_object.updated_at %>
	</td>
	<td>
		<%= activity_object.created_at %>
	</td>
</tr>