<div class="field_element search_button">
	<span class="spyglass"></span>
	<%= f.text_field :title_contains %>
	<a href="#" class="toggle_search" title="Search and filter all events.">Advanced Search</a>
	<span class="search_count"><%= @event_search.count %> events found</span>
</div>
<div id="advanced_search" style="display:none">
	<fieldset>
		<div class="field_element">
			<%= f.label :description_contains, "Description" %><br />
			<%= f.text_field :description_contains, :class => "textfield" %>
		</div>
		<div class="field_element">
			<%= f.label :location_contains, "Location" %><br />
			<%= f.text_field :location_contains, :class => "textfield" %>
		</div>
		<div class="field_element">
			<%= f.label :event_category_id_eq, "Category" %><br />
			<%= f.select :event_category_id_eq, @categories.collect {|c| [c.title, c.id]}, :prompt => "Choose One" %>
		</div>
	</fieldset>
	<div class="submit">
		<%= f.submit "Search" %><button type="button" class="reset">Reset</button>
	</div>
</div>