<h4 class="toggler">Main Information</h4>
<fieldset id="main_info" class="box_toggle">
	<div class="fieldset_left">
		<div class="field_element">
			<%= form.label :photo %>&nbsp;:&nbsp;<br />
			<% form.fields_for :photo do |p| %>
				<% if @user.photo.image.exists? %>
				<div id="avatar">
					<%= link_to image_tag(@user.photo.image.url(:thumb)), @user.photo.image.url, :class => "modal" %>
					<%= link_to "Crop", crop_admin_user_path(@user), :class => "crop" %>
				</div>
				<br />
				<% end %>
				<%= p.file_field :image %><br />
				<br />
				<%= p.label :photo_title %>&nbsp;:&nbsp;<br />
				<%= p.text_field :title, :class => "textfield small" %>
			<% end %>
		</div>
	</div>
	<div class="fieldset_right">
		<div class="field_element">
			<%= form.label :name %>&nbsp;:&nbsp;<br />
			<%= form.text_field :name, :class => "textfield" %>
		</div>
		<div class="field_element">
			<%= form.label :login %>&nbsp;:&nbsp;<br />
			<%= form.text_field :login, :class => "textfield" %>
		</div>
		<div class="field_element">
			<%= form.label :email %>&nbsp;:&nbsp;<br />
			<%= form.text_field :email, :class => "textfield" %>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
</fieldset>
<br />
<h4 class="toggler">Password &amp; Role</h4>
<fieldset id="password_and_role" style="display:none;" class="box_toggle">
	<div class="fieldset_left">
		<div class="field_element">
			<%= form.label :role_id %>&nbsp;:&nbsp;<%= form.collection_select(:role_id, @roles, :id, :name, {:prompt   => "Select a Role"}) %>
		</div>
	</div>
	<div class="fieldset_right">
		<div class="field_element">
			<%= form.label :password, form.object.new_record? ? nil : "Change password" %>&nbsp;:&nbsp;<br />
			<%= form.password_field :password, :class => "textfield" %>
		</div>
		<div class="field_element">
			<%= form.label :password_confirmation%>&nbsp;:&nbsp;<br />
			<%= form.password_field :password_confirmation, :class => "textfield" %>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
</fieldset>
<br />
<h4 class="toggler"><label for="user_profile">Profile</label></h4>
<fieldset id="profile" style="display:none;" class="box_toggle">
	<div class="field_element">
		<%= form.text_area :profile, :class => 'tinymce' %>
	</div>
</fieldset>
<br />
<div class="hr">
	&nbsp;
</div>
<div class="submit">
	<%= form.submit "Save" %>
</div>