<link href="/stylesheets/Jcrop/jquery.Jcrop.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/jquery.Jcrop.js" type="text/javascript"></script>

<script type="text/javascript">

$(function() {
    //$().ajaxStart(function(){
       // $.blockUI();
    //});

    //$().ajaxComplete(function(){
        //$.fn.fancybox.close();
	    //$(document).find("#avatar a.modal.preview img").append('<%= escape_javascript(@user.photo.image.url(:small)) %>');
    //}); 

    $.('#cropform').ajaxForm({
        target: '#cropper'
    });
    
    
    $.('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [ <%= @user.photo.crop_x %>, <%= @user.photo.crop_y %>, <%= @user.photo.crop_w %>, <%= @user.photo.crop_h %> ],
        aspectRatio: 1
    });
 
});

function update_crop(coords) {
    var rx = 100 / coords.w;
    var ry = 100 / coords.h;

    $.('#preview').css({
    	width: Math.round(rx * <%= @user.photo.image_geometry(:large).width %>) + 'px',
    	height: Math.round(ry * <%= @user.photo.image_geometry(:large).height %>) + 'px',
    	marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    	marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });

    //var ratio = <%= @user.photo.image_geometry(:original).width %> / <%= @user.photo.image_geometry(:large).width %>;

    //$('#crop_x').val(Math.floor(coords.x * ratio));
    //$('#crop_y').val(Math.floor(coords.y * ratio));
    //$('#crop_w').val(Math.floor(coords.w * ratio));
    //$('#crop_h').val(Math.floor(coords.h * ratio));

    $('#crop_x').val(coords.x);
    $('#crop_y').val(coords.y);
    $('#crop_w').val(coords.w);
    $('#crop_h').val(coords.h);
}

</script>
<div id="cropper">
    <div style="width:100px; height:100px; overflow:hidden">
    	<%= image_tag @user.photo.image.url(:large), :id => "preview" %>
    </div>
    <% form_for [:admin, @user], :url => update_photo_admin_user_path(@user), :html => { :id => "cropform", :multipart => true, :method => :put } do |f| %>
    	<%= image_tag @user.photo.image.url(:large), :id => "cropbox" %>
    	<% f.fields_for :photo do |p| %>
    	<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    		<%= p.text_field attribute, :id => attribute %>
    	<% end %>
    	<% end %>
    	<% unless @user.photo.blank? %>
    	<div class="submit">
    		<%= f.submit "Crop", :id => "cropsubmit" %>
    	</div>
    	<% end %>
    <% end %>
</div>