<script language="Javascript">
 
    function showPreview(coords)
    {
    	var rx = 100 / coords.w;
    	var ry = 100 / coords.h;
    	var ratio = <%= @user.photo.image_geometry(:original).width %> / <%= @user.photo.image_geometry(:large).width %>; 
     
    	$('#preview').css({
    		width: Math.round(rx * <%= @user.photo.image_geometry(:large).width.to_i %>) + 'px',
    		height: Math.round(ry * <%= @user.photo.image_geometry(:large).height.to_i %>) + 'px',
    		marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    		marginTop: '-' + Math.round(ry * coords.y) + 'px'
    	});

        $('#crop_x').val(Math.round(coords.x * ratio));
        $('#crop_y').val(Math.round(coords.y * ratio));
        $('#crop_w').val(Math.round(coords.w * ratio));
        $('#crop_h').val(Math.round(coords.h * ratio));
    }
     
    $(function() {
        $('#cropsubmit').click(function() { 
            $(this).block({ message: 'loading...' }); 
        });
        $('#cropform').ajaxForm({
            target: '#cropper'
        });
        $('#cropbox').Jcrop({
            setSelect:   [ <%= @user.photo.crop_x.to_i %>, <%= @user.photo.crop_y.to_i %>, <%= @user.photo.crop_w.to_i %>, <%= @user.photo.crop_h.to_i %> ],
            onSelect: showPreview,
            onChange: showPreview,
            aspectRatio: 1
        });
    });
 
</script>

<div id="cropper">
    <div style="width:100px; height:100px; overflow:hidden">
    	<%= image_tag @user.photo.image.url(:large), :id => "preview" %>
    </div>
    <% form_for [:admin, @user], :url => update_photo_admin_user_path(@user), :html => { :id => "cropform", :multipart => true, :method => :put } do |f| %>
    	<%= image_tag @user.photo.image.url(:large), :id => "cropbox" %>
    	<% f.fields_for :photo do |p| %>
    	<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    		<%= p.text_field attribute, :id => attribute %>
    	<% end %>
    	<% end %>
    	<% unless @user.photo.blank? %>
    	<div class="submit">
    		<%= f.submit "Crop", :id => "cropsubmit" %>
    	</div>
    	<% end %>
    <% end %>
</div>