<% content_for :header do %>
	<%= render :partial => 'admin/shared/main_menu' %>
	<div id="sub_nav">
		<ul>
			<li>
				<%= link_to 'View All', admin_users_path, :title => "View all users." %>
			</li>
			<li>
				<%= link_to 'Show', admin_user_path(@user), :title => "View this user." %>
			</li>
			<li>
				<%= link_to 'New', new_admin_user_path, :title => "Create a new user." %>
			</li>
			<li>
				<%= link_to 'Edit', edit_admin_user_path(@user), :title => "Edit this user." %>
			</li>
			<li>
				<%= link_to 'Delete', admin_user_path(@user), :title => "Delete this user.", :confirm => 'Are you sure?', :method => :delete %>
			</li>
		</ul>
	</div>
<% end %>
<div id="content_centered">
	<h3>Change My Password</h3>
	<% form_for [:admin, @user], :url => update_password_admin_users_path(:password_reset_token => params[:password_reset_token]) do |f| %>
		<fieldset>
			<p><%= f.label :password %><br />
			<%= f.password_field :password %></p>
			<p><%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %></p>
			<br />
			<div id="submit">
				<%= f.submit "Update my password and log me in" %>
			</div>
		</fieldset>
	<% end %>
</div>